body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* top banner start */
.top-banner {
  max-height: 100vh;
  background-image: url(./images/top-bannger-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 250px 0;
  text-align: center;
  color: #fff;
}

.top-banner-heading {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: -10px;
}

.top-banner-paragraph {
  font-size: 18px;
  margin-bottom: 30px;
}

.donate-button {
  text-decoration: none;
  color: #fff;
  background-color: #ff5959;
  padding: 15px 30px;
  border-radius: 7px;
  margin-top: 20px;
  display: inline-block;
}

/* top banner end */

/* donate amount start */
.donate-amount {
  padding: 70px;
  text-align: center;
}

.heading {
  font-size: 60px;
  line-height: 60px;
  color: #000;
  margin-bottom: -10px;
  text-align: center;
}

.text-part {
  font-size: 18px;
  margin-bottom: 30px;
  color: #000;
  text-align: center;
}

.amount-group {
  width: 100%;
  display: block;
}

.amount-number {
  display: inline-block;
  background-color: #fafafa;
  color: #707070;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px;
  border: 1px solid #fafafa;
}

.amount-number-color {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ff5959;
  background-color: #ffeeee;
  border-radius: 5px;
  border: 1px solid #ff5959;
}

.donate-amount .input-field {
  margin-top: 50px;
  text-align: center;
}

.donate-amount .input-field .others-input input {
  width: 70%;
  display: inline-block;
  position: center;
  text-align: center;
  padding: 15px 0;
  font-size: 17px;
  color: #707070;
}
/* donate amount end */

/* donate plan start  */
.donate-plan {
  padding: 70px 0;
}

.donate-feature {
  display: inline-block;
  margin: 0 auto;
}

.donate-boxes {
  margin: 0 18%;
  display: flex;
  text-align: left;
  width: auto;
  justify-content: center;
}

.donate-feature img {
  align-items: left;
}
.donate-feature-1 {
  background-color: #4f9da660;
  width: 25%;
  margin: 0 10px;
  padding: 30px 25px;
  border-radius: 8px;
}

.donate-feature-2 {
  background-color: #ff595959;
  width: 25%;
  margin: 0 10px;
  padding: 30px 25px;
  border-radius: 8px;
}

.donate-feature-3 {
  background-color: #fff4d6;
  width: 25%;
  margin: 0 10px;
  padding: 30px 20px;
  border-radius: 8px;
}
/* donate plan end  */

/* volanteer section  */

.volanteer {
  padding: 0 200px 50px 200px;
  display: flex;
}

.volanteer .volanteer-text-part {
  width: 50%;
}
.volanteer .heading {
  text-align: left;
}

.volanteer .text-part {
  text-align: left;
}

.donate-button {
  text-decoration: none;
  color: #fff;
  background-color: #ff5959;
  padding: 15px 30px;
  border-radius: 7px;
  margin-top: 20px;
  display: inline-block;
}

.volanteer .volanteer-images {
  width: 40%;
  float: right;
}

.volanteer .volanteer-images img {
  width: 90%;
}

/* news letter  */
.news-letter {
  padding: 50px 0;
  align-items: center;
}

.news-letter .form-box {
  background-color: #fff4d6;
  padding: 90px 300px;
  margin: 0 10%;
  align-items: center;
  border-radius: 8px;
  align-items: center !important;
}

.news-letter .form-box input {
  width: 100%;
  padding: 10px;
  background-color: #d9d9d9;
  border-color: #f9f9f9;

}

.news-letter-button{
  text-decoration: none;
  color: #fff;
  background-color: #ff5959;
  padding: 15px 30px;
  margin: 0 41%;
  border-radius: 7px;
  margin-top: 20px;
  display: inline-flex;
  text-align: center;
display: flex;
}
